<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/hospital.css">
    <title>Hospital Recommendation</title>
</head>
<body>
    <h1>Hospital Recommendation</h1>
    <form action="/result" method="post">
        <label for="city">Enter the city:</label>
        <input type="text" id="city" name="city"><br><br>
        <label for="organ_type">Enter the organ type:</label>
        <input type="text" id="organ_type" name="organ_type"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
